{
    "swagger": "2.0",
	"info": {
        "version": "1.0.0",
        "title": "APID",
        "description": "APID",
        "termsOfService": "http://blabla.ch",
        "contact": {
            "name": "John",
            "email": "john.doe@blabla.ch",
            "url": "http://blabla.ch"
        },
        "license": {
            "name": "MIT",
            "url": "http://github.com/gruntjs/grunt/blob/master/LICENSE-MIT"
        }
    },
    "host": "api.web.com",
    "basePath": "/apid",
    "schemes": [
        "http"
    ],
    "consumes": [
        "application/json"
    ],
    "produces": [
        "application/xml"
    ],
    "paths": {
         "/request?method=login&ci=apiD&ui={userid}&pwd={password}": {
            "get": {
                "description": "Return session id",
                "operationId": "login User",
                "produces": [
                    "application/json",
                    "application/xml",
                    "text/xml",
                    "text/html"
                ],
                "parameters": [
                    {
                        "name": "userid",
                        "in": "path",
                        "description": "User id",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "password",
                        "in": "path",
                        "description": "User password",
                        "required": true,
                        "type": "string"
                    }					
                ],
                "responses": {
                    "200": {
                        "description": "apid",
                        "schema": {
                            "$ref": "#/definitions/login"
                        }
                    }
                }
            }
        }
    },
    "definitions": {
        "pet": {
            "required": [
                "userid",
                "password"
            ],
            "properties": {
                "userid": {
                    "type": "string"
                },
                "password": {
                    "type": "string"
                }
            }
        }
    }
}